$menu-width: 350px;

.board-menu {
  position: absolute;
  background-color: whitesmoke;
  color: black;
  height: 100%;
  width: $menu-width;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;

  .close {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .menu-title {
    height: fit-content;
  }

  .wallpaper-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;

    .error-message {
      font-size: 15px;
      text-align: center;
      color: grey;
    }

    .choice-wrapper {
      position: relative;
      width: 50%;
      padding-top: 28.125%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;

      .choice {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          transform: scale(0.95);
        }
      }

      &.loading {
        opacity: 0.8;
      }

      .loading-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 50px;
        margin-top: -25px;
        width: 50px;
        margin-left: -25px;
        z-index: 200;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    right: -$menu-width;
  }

  100% {
    right: 0;
  }
}

@keyframes slideOut {
  0% {
    right: 0;
  }

  100% {
    right: -$menu-width;
  }
}
