.board-menu {
  position: absolute;
  background-color: whitesmoke;
  color: black;
  height: 100%;
  width: 20%;
  right: 0;
  z-index: 100;
}

@keyframes slideIn {
  0% {
    right: -20%;
  }

  100% {
    right: 0;
  }
}

@keyframes slideOut {
  0% {
    right: 0;
  }

  100% {
    right: -20%;
  }
}
