.navbar {
  position: relative;
  background-color: transparent;

  .board-menu-button {
    border: none;
    background-color: grey;
    opacity: 0.5;
    color: black;
    @include clickable();
  }
}
