.App {
  background-color: #a1d9f0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;

  // React-bootstrap 部件編譯後還是產出bootstrap原生的class
  .navbar {
    background-color: #18b3f0;

    button {
      background-color: blue;
    }
  }

  .row {
    height: 0px;
  }

  .list {
    display: inline-block;
    vertical-align: top;
    width: 252px;
    background-color: #5daae2;

    .title {
      color: white;
    }

    .todo,
    textarea {
      word-wrap: break-word;
      background-color: #8ccada;
    }

    textarea {
      border: none;
      overflow: hidden;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .footer {
      button {
        border: none;
        background-color: #5daae2;

        &:hover {
          background-color: #8ccada;
        }

        &:active:focus,
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}
